<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat Application</title>
</head>

<body>
    <div id="connection-state">Disconnected</div>
    <div id="chat-box">
        <pre id="rxed-messages"></pre>
        <div id="user-count">Users online: 0</div>

        <label for="message-input">Message:</label>
        <input type="text" id="message-input">
        <button id="send-message">Send</button>

        <pre id="received-messages"></pre>
    </div>
    <script type="module">
        import { io } from "https://cdn.socket.io/4.7.2/socket.io.esm.min.js";
        let socket = io('/');

        document.addEventListener('DOMContentLoaded', () => {
            socket.on('connect', () => {
                document.querySelector('#connection-state').innerHTML = 'Connected';
            });

            socket.on('disconnect', () => {
                console.log('Disconnected');
                document.querySelector('#connection-state').innerHTML = 'Disconnected';
            });

            socket.on('/communications/echo', (payload) => {
                console.log(`Echo - payload = ${JSON.stringify(payload)}`);
                document.querySelector('#rxed-messages').innerHTML = JSON.stringify(payload, null, 2);
            });

            socket.on('/communications/send', (payload) => {
                console.log("Received message:", payload.message);
                document.querySelector('#received-messages').innerHTML += `${payload.message}\n`;
            });
            socket.on('/communications/userCount', (payload) => {
                console.log(`User count updated: ${payload.count}`);
                document.querySelector('#user-count').innerHTML = `Users online: ${payload.count}`;
            });

            document.querySelector('#send-message').addEventListener('click', () => {
                const messageInput = document.querySelector('#message-input');
                const message = messageInput.value;
                const eventName = '/communications/send';

                socket.emit(eventName, { eventName: eventName, message: message });
                messageInput.value = '';
                console.log('Message sent to the server');
            });
        });
    </script>
</body>

</html>
